/****
* Colors
****/

$olive-green: #4F7561;
$light-green: #5EC4A1;
$yellow: #EEC064;
$peach: #FDA86A;
$red: #DA4955;
$white: #fff;
$dark-orange: #A4762A;
$black: #000;
$half-black: rgba(0, 0, 0, 0.5);
$black-70: rgba(0, 0, 0, 0.7);
$black-75: rgba(0,0,0,0.75);
$dark-amber: rgba(37, 26, 12, 0.46);
$really-dark-orange: rgba(37, 26, 12, 0.46);
$error-yellow: #FCFBD3;

/****
* Assignments
****/

$main-bg: $olive-green;
$main-title-text-color: $white;
$cat-container-bg: $yellow;
$footer-bg: $light-green;
$header-bg: $light-green;
$cors-error-bg: $error-yellow;
$text-color: $white;
$button-text-color: $white;
$cors-error-text-color: $dark-orange;
$cat-container-border-color: $white;
$cat-container-text-color: $white;
$footer-text-color: $white;
$cat-page-title-border-color: $white;
$cat-color: $white;
$header-border-color: $black;
$cat-image-border-color: $white;
$header-text-color: $white;
$cat-text-bg: $half-black;
$read-more-link-color: $white;
$same-domain-button: $light-green;
$cross-domain-button: $yellow;
$jsonp-button: $peach;
$cors-button: $red;
$error-bg: transparentize($olive-green, 0.5);
$error-color: $yellow;
