.footer.full-row.text-roboto
  .identity Made with something resembling love by #[a(href="https://github.com/PortableStick", target="_blank") PortableStick]
  a(href="https://github.com/PortableStick/ajaxServer", target="_blank").github-link #[i.fab.fa-github]Get the code
