doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title
    link(href='https://fonts.googleapis.com/css?family=PT+Mono|Rammetto+One|Roboto', rel='stylesheet')
    link(href='/style.css', rel='stylesheet')
