doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Let's learn some AJAX
    link(href='https://fonts.googleapis.com/css?family=PT+Mono|Rammetto+One|Roboto', rel='stylesheet')
    link(href='/fa-solid.min.css', rel='stylesheet')
    link(href='/fa-brands.min.css', rel='stylesheet')
    link(href='/style.css', rel='stylesheet')
